@using en_passant.Models.Enum
@model GameStock

@{
    var categories = Enum.GetValues(typeof(Category)).Cast<Category>();
    var materials = Enum.GetValues(typeof(Material)).Cast<Material>();
    var types = Enum.GetValues(typeof(GameType)).Cast<GameType>();
}

<form asp-controller="Stock" asp-action="AddStock" method="post">
    <div class="container">
        <div class="mb-4 titulo">Adicionar Jogo</div>
        <div class="barra-superior"></div>

        <label class="label" style="top: 106px; left: 100px;">Nome</label>
        <input type="text" asp-for="@Model.Game.Name" class="form-control input" style="top: 145px; left: 99px; width: 780px;">

        <label class="label" style="top: 106px; left: 951px;">Quantidade</label>
        <input type="number" asp-for="@Model.Quantity" class="form-control input" style="top: 145px; left: 945px; width: 358px;">

        <label class="label" style="top: 267px; left: 99px;">Fornecedor</label>
        <input type="text" asp-for="@Model.Game.Fornecedor" class="form-control input" style="top: 306px; left: 99px; width: 780px;">

        <label class="label" style="top: 267px; left: 945px;">Ano de fabricação</label>
        <input type="number" asp-for="@Model.Game.Year" class="form-control input" style="top: 306px; left: 945px; width: 358px;">

        <label class="label" style="top: 431px; left: 103px;">Material</label>
        <select asp-for="@Model.Game.MadeOf"  class="form-control input font-form" style="top: 470px; left: 99px; width: 358px;">
            <option selected>Escolha um material</option>
            @foreach (Material material in materials)
            {
                <option value="@material">@material</option>
            }
        </select>
        <div class="d-flex justify-content-end gap-2">
            <button class="botao cancelar" style="left: 1123px;">CANCELAR</button>
            <button type="submit" class="botao enviar" style="left: 886px;">ENVIAR</button>
        </div>
        <label class="label" style="top: 431px; left: 524px;">Categoria</label>
        <select asp-for="@Model.Game.Category" class="form-control input font-form" style="top: 470px; left: 521px; width: 358px;">
            <option selected>Escolha uma categoria</option>
            @foreach (Category category in categories)
            {
                <option value="@category">@category</option>
            }
        </select>

        <label class="label" style="top: 431px; left: 949px;">Tipo</label>
        <select asp-for="@Model.Game.GameType" class="form-control input font-form" style="top: 470px; left: 943px; width: 358px;">
            <option selected>Escolha um tipo</option>
            @foreach (GameType type in types)
            {
                <option value="@type">@type</option>
            }
        </select>

        <div class="label" style="top: 592px; left: 101px;">Observações</div>
        <textarea asp-for="@Model.Game.Description" class="form-control textarea" style="top: 635px; left: 101px;" placeholder="Digite aqui..."></textarea>

        <div class="d-flex justify-content-end gap-2">
            <button class="botao cancelar" style="left: 1123px;">CANCELAR</button>
            <button type="submit" class="botao enviar" style="left: 886px;">ENVIAR</button>
        </div>

    </div>
</form>