@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using en_passant.Models.Enum

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - En Passant</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar py-3 navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid">
            <div class="flex-row text-color-2 font-poppins font-bold">
                <img class="image-box" src="~/assets/chess/King.svg"/>
                Inventário de Jogos
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            </div>
            <div id="item-box-logo" class="flex-row align-items-end">
                <a class="navbar-brand text-color-1 font-cinzel font-regular" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="image-box" src="~/assets/chess/Pawn.svg"/>
                    EN PASSANT
                </a>
            </div>
        </div>
    </nav>
    
    <div class="separator-bar-wrapper">
        <div class="separator-bar"></div>
    </div>
</header>

<form method="get" action="@Context.Request.Path" id="filterForm">
    <div class="searchBar container-fluid">
        <div class="buttons-layout">
            <div class="left-button">
                <button type="button" class="button-variant1">Adicionar Jogo</button>
            </div>
            <div class="right-buttons">
                <button type="button" class="button-default">
                    <img class="image-box" src="~/assets/buttons/four_squares.svg" />
                </button>
                <button type="button" class="button-default">
                    <img class="image-box" src="~/assets/buttons/triple_lines.svg" />
                </button>
            </div>
        </div>
        
        <div class="searchOptions">
            
            <div class="searchGameName">
                <img src="~/assets/icons/lupe-chess.svg" alt="Search Icon"/>
                <input name="searchTerm" type="text" placeholder="Search game..." value="@Context.Request.Query["searchTerm"]" />
            </div>


            <div class="searchGameCategory">
                <select name="category" onchange="handleFilterChange()">
                    <option value="">All Categories</option>
                    
                    @foreach (var category in Enum.GetValues(typeof(Category)))
                    {
                        var categoryStr = category.ToString();
                        if (Context.Request.Query["category"] == categoryStr)
                        {
                            <option value="@categoryStr" selected>@categoryStr</option>
                        }
                        else
                        {
                            <option value="@categoryStr">@categoryStr</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</form>

<div>
    <main role="main" class="">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    function handleFilterChange() {
        const form = document.getElementById('filterForm');
        form.submit();
    }
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>